@import "../../../normalize.scss";
#navbar {
  width: 100vw;
  height: fit-content;
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  background: linear-gradient(
    90deg,
    hsl(205, 34%, 48%, 0.5) 30%,
    hsl(205, 37%, 60%, 0.5) 90%
  );
  z-index: 100;

  font-size: 1rem !important;
  &::before {
    width: 50px;
    height: 100vh;
    z-index: 5;

    background: linear-gradient(
      180deg,
      hsl(205, 34%, 48%, 0.5) 30%,
      hsl(205, 37%, 60%, 0.5) 90%
    );

    content: "";
    position: fixed;
    top: 0;
    left: 0;
    @media screen and (min-width: $md) {
      width: 116px;
    }
  }
  &:has(a:hover) {
    background: linear-gradient(
      90deg,
      hsl(205, 34%, 48%, 0.6) 30%,
      hsl(205, 37%, 60%, 0.6) 90%
    );
    z-index: 100;
    &::before {
      z-index: 5;

      width: 50px;
      background: linear-gradient(
        180deg,
        hsl(205, 34%, 48%, 0.6) 30%,
        hsl(205, 37%, 60%, 0.6) 90%
      );
      @media screen and (min-width: $md) {
        width: 116px;
      }
    }
  }

  #logo {
    display: none;
    z-index: 900;
    position: relative;
    background: transparent;
    background-color: transparent;
    width: 116px;
    height: 100px;
    padding: 0.25rem 0.5rem;
    text-align: start;
    & h4 {
      font-size: 0.9rem;
      font-weight: bold;
      margin: 0;
    }
    & h6 {
      font-size: 0.75rem;
      font-weight: bold;
      margin: 0;
    }
    &::before {
      content: "";
      display: flex;
      flex-direction: column;
      justify-content: center;
      opacity: 0;
      position: absolute;
      height: 100%;
      left: 150%;
      font-size: 1.5rem;
      text-align: center;
      margin-top: 0;
      color: white;
      z-index: -1;
      transition: opacity 0.5s ease;
    }
    // &:hover {
    //   &::before {
    //     content: "\\01f3eb;Home";
    //     filter: saturate(0.5);
    //     opacity: 1;
    //     position: absolute;
    //     transform: translate(-50%, 0%);
    //   }
    // }
    @media screen and (min-width: $md) {
      display: block;
    }
  }
  #mobile-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 900;
    position: relative;
    background: transparent;
    width: 50px;
    height: 50px;
    cursor: pointer;
    // margin: 1rem;
    text-align: start;
    & h4 {
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
    & h6 {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
      line-height: 1rem;
    }
    svg {
      height: 100% !important;
    }
    @media screen and (min-width: $md) {
      display: none;
    }
  }
}
