.techCard {
  max-width: 200px;
  outline-offset: 0.25rem;
  width: 200px;
  height: 175px;
  display: flex;
  border-radius: 0.25rem;

  .cardActionArea {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .techIconBox {
    height: 75%;
    aspect-ratio: 1;
    display: flex;
    margin: 0 auto;
    aspect-ratio: 1;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .techNameBox {
    height: 25%;
    .techName {
      margin-bottom: 0.5rem !important;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
}
