rect:first-of-type {
  fill: hsl(138, 50%, 64%);
  color: hsl(0, 52%, 72%);
  background-color: hsl(122, 39%, 49%);
  background-color: hsl(4, 90%, 58%);
}

.colors {
  --matisse-50: #f5f7fa;
  --matisse-100: #e9eff5;
  --matisse-200: #cedde9;
  --matisse-300: #a4c0d5;
  --matisse-400: #729ebe;
  --matisse-500: #5183a6;
  --matisse-600: #3a6282;
  --matisse-700: #335571;
  --matisse-800: #2d485f;
  --matisse-900: #2a3e50;
  --matisse-950: #1c2835;

  --red-orange-50: #fff2f1;
  --red-orange-100: #ffe4e1;
  --red-orange-200: #ffcdc8;
  --red-orange-300: #ffa9a1;
  --red-orange-400: #fe786b;
  --red-orange-500: #f64231;
  --red-orange-600: #e42f1e;
  --red-orange-700: #c02415;
  --red-orange-800: #9f2115;
  --red-orange-900: #832219;
  --red-orange-950: #480d07;

  --apple-50: #f3faf3;
  --apple-100: #e3f5e3;
  --apple-200: #c8eac9;
  --apple-300: #9dd89f;
  --apple-400: #6bbd6e;
  --apple-500: #4caf50;
  --apple-600: #358438;
  --apple-700: #2d6830;
  --apple-800: #275429;
  --apple-900: #224525;
  --apple-950: #0e2510;
}
